.container{
    width: 75%;
    border: 2px solid #000;
    margin: 0 auto;
    text-align: center;
}

.flex-rw, .flex-row1,.flex-row2, .flex-row3{
    display: flex;
    border: 2px solid #000;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-row1, .flex-row2{
    background:url("https://t3.ftcdn.net/jpg/03/25/38/64/360_F_325386410_7XLHgFBmPH10k0GCUXbikWCAeFFC8145.jpg");
    color:#fff;
}

.flex-row1 div{
    border: 2px solid #000;
    flex: 1;
    padding: 10px;
    height: 350px;
    text-align: center;
}
.flex-row1 img{
    width: 25%;
    padding: 10px;
}

.flex-row2 button{
    border: 1px solid #000;
    padding: 10px;
}

.flex-row2 div{
    border: 1px solid #000;
}
table, th, td    {
    padding: 10px;
    border: 1px solid #000;
}
.flex-rw img{
    padding: 5px;
    margin: 5px;
    border: 1px solid red;
}
.flex-rw div{
    padding:10px;
    border: 2px solid #000;
}
.images{
    display: flex;
    flex-direction: row;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: middle;
}
.images img{
    width:150px;
    height: 150px; 

}
.images *{
    margin-top:auto;
    margin-bottom:auto;
}
.images img:hover{
    -webkit-box-shadow: -1px 5px 10px 9px rgba(17,47,255,0.71); 
    box-shadow: -1px 5px 10px 9px rgba(17,47,255,0.71); 
}
.images .img-red{
    -webkit-box-shadow: -1px 5px 10px 9px rgba(255, 17, 17, 0.71); 
    box-shadow: -1px 5px 10px 9px rgba(255, 17, 17, 0.71); 
}
.images .img-blue{
    -webkit-box-shadow: -1px 5px 10px 9px rgba(17,47,255,0.71); 
    box-shadow: -1px 5px 10px 9px rgba(17,47,255,0.71); 
}

.playagain{
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* Back Jack */

.bg{
    background: url(../images/green-bg.jpg) no-repeat center ;
    background-position: center;
    background-size: contain;
    
}
.rw{
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 5px solid red;
}
.cards{
    padding-left:10px;
}
.cards img{
    min-width:25%;
}
.rw div{
    padding: 25px 5px;
}

/* BlackJack */


.conatiner-bj{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.logo{
    display: flex;
    justify-content: center;
}
#blackjack-img{
    width: 40%;
    height: 50%;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bg-green{
    color: #fff;
    background: url("https://i.pinimg.com/736x/9d/c1/b1/9dc1b1672ea26cd5711cfd394f73ab1b.jpg");
}

#your-box, #bot-box{
    border: 2px solid #000;
    flex: 1;
    padding: 10px;
    height: 350px;
    text-align: center;
}
.flex-row button{
    margin: 10px;
    padding: 10px 15px ;
}
.flex-row img{
    width: 25%;
    padding: 20px 10px;
}